page-login {


  .login-content {
		background-image: url(https://images.pexels.com/photos/325044/pexels-photo-325044.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
		background-position: center;
 
    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }
 
    .login-box {
   
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #22427C;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #ffffff;
       font-size: 0.8em;
     }
  }	
	
	
	//Splashscreen
  #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100000;
    width:100%;
    background-color: #fff;
  }

  .flb {
    background-color: #fff;
    height:100%;
    width:100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Aligner-item {
    max-width: 50%;
  }
  .Aligner-item--top {
    align-self: flex-start;
  }
  .Aligner-item--bottom {
    align-self: flex-end;
  }
  #custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: auto;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;

  }

  @keyframes pulse {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
}